[submodule "Modules/VX"]
	branch = master
	path = Modules/VX
	url = https://github.com/sun-xm/VX.git
[submodule "Modules/W32"]
	branch = master
	path = Modules/W32
	url = https://github.com/sun-xm/W32.git
